/**********************************************
* CSS Colores
**********************************************/

/**********************************************
* CSS Owl Carousel
**********************************************/
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

/**********************************************
* CSS Documentos
**********************************************/
html, body, * {
    font-family: "Arial";
}

#boxcms {
    margin: auto;
    width: 90%;
    padding: 2em;
    padding-top: 0px;
    border: 1px solid grey;
    margin-top: 10%;
}

