{% extends "../../assets/templates/basico.html" %}

{% block title %}Catálogo de productos | Tess{% endblock %}

{% block content %}
<div>
    <section>
        <!-- <div ng-include="'assets/ngviews/index/index.html'"></div> -->
        <div ng-controller="index">
            <!-- <owl id="owl-demo" class="owl-carousel owl-theme">
                <div class="item"><img src="/assets/imgs/outfit.jpg" alt="The Last of us"></div>
                <div class="item"><img src="/assets/imgs/shaper.jpg" alt="GTA V"></div>
            </owl> -->
            
            <div class="row">
                <div class="col-sm-8 no-padding">
                    <div ng-view></div>
                    
                    {% for producto in productos %}
                    <div ng-class="(busquedatextoresponse.length > 0 && busquedatextoresponse.indexOf({{producto._id}}) == -1 && busqueda.length > 1)? 'hide' : 'show'" id="prod_id-{{producto._id}}}" class="producto">
                        <div class="thumbnail">
                            <img src="{{producto.archivo}}" alt="{{producto.tipoproducto}}">

                            <div class="caption">
                                <h3>{{producto.tipoproducto|upper}}</h3>
                                <h5>{{producto.subtitulo|upper}}</h5>

                                {% for talla in producto.stockaje %}
                                <span class="label label-success">{{loop.key|upper}}</span>
                                {% endfor %}

                                <p>
                                    <a ng-click="mostrar[{{loop.key}}] = true" class="btn btn-primary" role="button">Ver detalles</a>
                                    <a href="#/producto/{{producto._id}}" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> <span class="badge">{{producto.precio}} $</span></a>
                                </p>
                            </div>
                            
                            <div class="detalle hide" ng-class="(mostrar[{{loop.key}}])? 'show' : 'hide'">
                                {% for talla in producto.stockaje %}
                                <ul>
                                    <li class="clear"><span class="label label-primary">Talla {{loop.key|upper}}, colores disponibles:</span></li>
                                    <li>
                                        <ul>
                                            {% for color in talla.colores %}
                                            <li><span style="color: {{color.color}}" class="glyphicon glyphicon-info-sign" title="{{color.nombre|upper}}"></span></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                                {% endfor %}
                                <footer>
                                    <div class="clear alert alert-success" role="alert">{{producto.caracteristicas|default("No tiene características adicionales")|details|capitalize}}</div>
                                    <button ng-click="mostrar[{{loop.key}}] = false" type="button" class="btn btn-danger">Cerrar</button>
                                <footer>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="col-sm-4 no-padding">
                    <nav id="side-content" class="navbar navbar-default">
                        <div class="container-fluid">
                            <header>
                                <a id="logo" href=""><img src="assets/imgs/logo-tess.png" alt="tess by ingesa" title="tess by ingesa"/></a>
                                <div id="carrito-qt"><span class="glyphicon glyphicon-shopping-cart"></span> <span class="badge">[[carrito.length]]</span></div>
                            </header>
                            <div class="nav-content">
                                <div class="btn-group" dropdown>
                                    <button type="button" class="btn btn-primary">CATEGORÍA</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                                        <span class="caret"></span>
                                        <span class="sr-only">Split button!</span>
                                    </button>
                                    
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a ng-click="busqueda = ''">Todas</a></li>
                                        <li class="divider"></li>
                                        {% for categoria in categorias %}
                                        <li><a ng-click="busqueda = '{{categoria.categoria}}'">{{categoria.categoria|capitalize}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                
                                 <div class="btn-group" dropdown>
                                    <button type="button" class="btn btn-primary">TIPO</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                                        <span class="caret"></span>
                                        <span class="sr-only">Split button!</span>
                                    </button>
                                    
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a ng-click="busqueda = ''">Todas</a></li>
                                        <li class="divider"></li>
                                        {% for tipo in tipos %}
                                        <li><a ng-click="busqueda = '{{tipo.producto}}'">{{tipo.producto|capitalize}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                
                                <input id="busqueda" ng-model="busqueda" type="text" class="form-control" placeholder="Filtrar productos">
                            </div>

                            <table st-table="rowCollection" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>TS 01</td>
                                        <td>2</td>
                                        <td>
                                            <button type="button" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-eye-open"></span></button>
                                            <button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>TS 01</td>
                                        <td>2</td>
                                        <td>
                                            <button type="button" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-eye-open"></span></button>
                                            <button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </nav>
                </div>
            </div>
            
        </div>
    </section>
</div>
{% endblock %}

{% block js %}
<script src="/assets/ngviews/index/indexController.js"></script>
<script src="/assets/ngviews/producto/productoController.js"></script>
{% endblock %}