<select class="form-control" ng-model="temp[$index].talla" ng-options="key as (key|uppercase) for (key , value) in productoAcomprar.stockaje" placeholder="Seleccione una talla">
    <option value="">Seleccione una talla</option>
</select>

<div id="colores-por-talla" class="btn-group" dropdown ng-if="productoAcomprar.stockaje[temp[$index].talla]">
    <button type="button" class="btn btn-default">[[(temp[$index].color.nombre|uppercase) || "Escoje un color"]]</button>
    <button type="button" class="btn dropdown-toggle" dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="(key, value) in productoAcomprar.stockaje[temp[$index].talla].colores"><a ng-click="temp[$parent.$index].color = {nombre: value.nombre, color:value.color}">[[value.nombre|uppercase]] <span style="color:[[value.color]]" class="glyphicon glyphicon-asterisk"></span></a></li>
    </ul>
</div>

<input class="stepper" ng-model="temp[$index].cantidad" ng-change="sumarPrecios(temp, $index, productoAcomprar.precio, temp[$index].cantidad)" type="number" min="1" placeholder="Escoje una cantidad" stepper/>

<button class="btn btn-danger btn-xs" role="button" data-id="[[$index]]" ng-click="cantidadProducto('del', $index, $event)"><span class="glyphicon glyphicon-minus-sign"></span></button>