<div>
    <div ng-if="productoAcomprar._id" id="productoAcomprar" class="col-sm-8">
        <header>
            <h3>[[productoAcomprar.categoria|uppercase]]</h3>
            <h5>[[productoAcomprar.tipoproducto|uppercase]]</h5>
        </header>
        
        <article>
            <div class="row">
                <div class="col-xs-6" ng-init="listado(productoAcomprar.caracteristicas)">
                    <img ng-src="[[productoAcomprar.archivo]]" />
                    <div class="caracteristicas clear alert alert-success" rolert="alert">
                        <ul>
                            <li class="capitalize" ng-repeat="item in listado">[[item]]</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6">

                    <form>
                        <div ng-repeat="i in cantidadProductos track by $index">
                            <div compra></div>
                        </div>

                        <div>
                            <button class="btn btn-success btn-xs" role="button" data-id="[[rndKEY]]" ng-click="cantidadProducto('add', rndKEY, $event)"><span class="glyphicon glyphicon-plus-sign"></span></button>
                        </div>

                        <button class="btn btn-success btn-sm" role="button" ng-click="anadirProductoCarrito(temp, productoAcomprar.referencia)">Actualizar el carrito <span class="glyphicon glyphicon-shopping-cart"></span> <span ng-if="temp.precioTotal" class="badge">[[temp.precioTotal]] $</span></button>
                        <a href="#/index" type="button" class="btn btn-danger btn-sm" role="button"><span class="glyphicon glyphicon-home"></span></a>
                    </form>
                </div>
            </div>
        </article>
    </div>
</div>
